.details {
  @include display-flex;
  flex-direction: column;
  padding-top: 5vh;
  width: 100%;

  .title {
    width: 70%;

    img {
      width: 100%;
    }

    h1 {
      font-size: 40px;
    }
  }
}