.cards {
  @include display-flex;
  padding-top: 10vh;
  width: 100%;

  div {
    border-bottom: 2px solid rgb(190, 190, 190);
    width: 60%;

    img {
      width: 100%;
    }

    div {
      border: none;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .title {
        display: flex;
        flex-direction: column;
        width: 60%;

        h1 {
          font-size: 25px;
        }
      }

      .button {
        @include display-flex;
        width: 20%;

        a {
          background-color: $button-color;
          border: 2px solid $header-color;
          border-radius: 30px;
          color: black;
          height: fit-content;
          padding: 10px 25px;
          text-decoration: none;
          width: fit-content;

          &:hover {
            background-color: lighten($button-color, 10);
          }
        }
      }
    }
  }
}
